.page-heading-back {
    background-image: url("../images/page-heading-back.jpg");
    background-position: center 0;
    background-size: cover;
    vertical-align: middle;
}

.p-tb80 {
    padding-bottom: 80px;
    padding-top: 80px;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.page-heading h2::after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 45px;
}

.page-section {
    display: block;
    overflow: hidden;
    padding: 75px 0;
    position: relative;
    width: 100%;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.section-title {
    border-bottom-width: 0;
    margin-bottom: 40px;
    position: relative;
}

.top-pad-20 {
    padding-top: 20px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}


.welcome-section .single-welcome-box {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    margin-top: 30px;
    padding: 24px 0 24px 27px;
    transition: all 0.5s ease 0s;
}

.welcome-section .single-welcome-box .icon-box, .welcome-section .single-welcome-box .text-box {
    display: table-cell;
    vertical-align: middle;
}

.welcome-section .single-welcome-box .text-box {
    padding-left: 25px;
}

.welcome-section .single-welcome-box .icon-box, .welcome-section .single-welcome-box .text-box {
    display: table-cell;
    vertical-align: middle;
}

.tt-service::before {
    background: hsl(47, 93%, 63%) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin-top: 5px;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: all 300ms ease-in-out 0s;
    width: 100%;
    z-index: -1;
}

.tt-service-icon {
    color: hsl(0, 0%, 31%);
    float: left;
    text-align: center;
    width: 90px;
}

.tt-service {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.06);
    display: block;
    overflow: hidden;
    padding: 33px 15px 36px;
    position: relative;
    transform: translateZ(0px);
}

.tt-service:hover::before {
    margin-top: 0;
    transform: translateY(0px);
}

.simple-text h6, .c-h6 {
    color: hsl(229, 21%, 20%);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-top: 0;
}


